html, body {
    scroll-behavior: smooth;
    background: rgba(247, 247, 247, 1);
  }

body {
    font-family: 'Cardo';
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    min-height: 100vh;
    color: #000;
    
    
}