.header {
    margin: 16px 20px 0;
    padding-bottom: 17px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border-bottom: 2px solid rgba(242, 242, 242, 1);
    gap: 15px;
    margin-bottom: 20px;
    
    @media (min-width: $breakpoint-lg) {
        flex-direction: row;
        position: relative;
        justify-content: start;
        gap: 0;
        margin-bottom: 36px;
    }

    &__list {
        order: 2;
        display: flex;
        align-items: center;
        text-align: center;
        justify-content: center;
        gap: 15px;
    

        @media (min-width: $breakpoint-lg) {
            
            gap: 10px;
        }
    }

    &__list--item {
        font-size: 17px;
        line-height: 23px;
        color: #000;
        cursor: pointer;
        transition: all 0.3s ease;

        &:hover {
            transform: translateY(6px);
        }
    }


    &__logo {
 
        order: 1;

        @media (min-width: $breakpoint-lg) {
            position: absolute;
            top: -6px;
            left: 50%;
            transform: translateX(-50%);
        }
        
        

        & img {
           width: 100%;
           height: 100%;
           object-fit: cover;
        }
    }
}
